[Unit]
Description=Raspi per Taste herunterfahren
After=multi-user.target

[Service]
Type=idle
ExecStart= /usr/bin/python  /home/pi/wearables-and-navigation/src/shutdown.py &

[Install]
WantedBy=multi-user.target
